<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navagamer (All)</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>

    <h1>Navagamer (All)</h1>
    <center><p>Your one stop spot for all the games</p></center>
    <div id="search-container">
        <p id="totalGameCount">Total Games: </p>
        <input type="text" id="search-input" placeholder="Search for a game...">
        <button id="search-button" onclick="searchGames()">Search Game</button>
        <button id="randomPageButton" onclick="goToRandomPage()">Go To Random Page</button>
        <button id="randomGameButton" onclick="getRandomGameUrl()">Random Game</button>
        <button id="freeGamesButton" onclick="goToFreeGames()">Navagamer (Free)</button>
    </div>
    <div id="gameList" class="game-list">
    </div>
    <div id="pagination">
        <button id="prevPage" onclick="changePage(currentPage - 1)">Previous</button>
        <div id="pageNumbers">
        </div>
        <p id="currentPage">Current Page: </p>
        <button id="nextPage" onclick="changePage(currentPage + 1)">Next</button>
        <input type="number" id="pageInput" placeholder="Go to page..." min="1">
        <button onclick="goToPage()">Go</button>
    </div>

    <script>
        let currentPage = 1;
    
        function goToFreeGames() {
            window.location.href = '/free';
        }

        function getRandomGameUrl() {
            fetch('/randomgame')
                .then(response => response.json())
                .then(data => {
                    if (data.url) {
                        window.open(data.url, '_blank');
                    } else {
                        console.error('No random game URL found in the response');
                    }
                })
                .catch(error => {
                    console.error('Error fetching a random game:', error);
                });
        }

        function goToRandomPage() {
            const minPage = 1;
            const maxPage = 1000;
            const randomPage = Math.floor(Math.random() * (maxPage - minPage + 1)) + minPage;
            currentPage = randomPage;
            updatePagination();
            fetchGames(currentPage);
        }
    
        function goToPage() {
            let pageInput = document.getElementById('pageInput');
            let pageNumber = parseInt(pageInput.value);
            if (!isNaN(pageNumber)) {
                currentPage = pageNumber;
                updatePagination();
                fetchGames(currentPage);
            } else {
                console.error('Invalid page number');
            }
        }
    
        function changePage(increment) {
            currentPage += increment;
            currentPage = Math.max(currentPage, 1);
            updatePagination();
            fetchGames(currentPage);
        }
    
        function updatePagination() {
            const pageNumbersContainer = document.getElementById('pageNumbers');
            pageNumbersContainer.innerHTML = ''; // Clear the current page numbers
    
            let startPage = Math.max(currentPage - Math.floor(9 / 2), 1);
            let endPage = startPage + 9;
    
            for (let i = startPage; i <= endPage; i++) {
                const pageNumberElement = document.createElement('span');
                pageNumberElement.textContent = i;
                pageNumberElement.className = 'page-number';
                pageNumberElement.onclick = function () {
                    currentPage = i;
                    updatePagination();
                    fetchGames(currentPage);
                };

                if (i === currentPage) {
                    pageNumberElement.style.fontWeight = 'bold';
                    pageNumberElement.style.color = '#c7a2ff'; // Highlight color
                }
    
                pageNumbersContainer.appendChild(pageNumberElement);
            }
        }
        updatePagination();
    
        function fetchGames(page) {
            fetch(`/gameslist?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    const games = data.games;
                    const totalGameCount = data.total_game_amount;
    
                    updateGameList(games);
                    document.getElementById('currentPage').textContent = page;
    
                    const totalGameCountElement = document.getElementById('totalGameCount');
                    const formattedTotalGameCount = totalGameCount.toLocaleString();
                    totalGameCountElement.textContent = `Total Games: ${formattedTotalGameCount}`;
                })
                .catch(error => {
                    console.error('Error fetching the games list:', error);
                });
        }
    
        function searchGames() {
            const query = document.getElementById('search-input').value;
            fetch(`/search?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(games => {
                    updateGameList(games);
                })
                .catch(error => {
                    console.error('Error performing search:', error);
                });
        }
    
        function updateGameList(games) {
            const container = document.getElementById('gameList');
            container.innerHTML = '';
            games.forEach(game => {
                container.appendChild(createGameElement(game));
            });
        }
    
        function createGameElement(game) {
            const gameElement = document.createElement('div');
            gameElement.className = 'game';
    
            const iconImg = document.createElement('img');
            iconImg.src = game.icon_url;
            iconImg.alt = game.name;
            iconImg.className = 'game-icon';
            iconImg.onerror = function () {
                gameElement.remove();
            };
    
            const gameInfo = document.createElement('div');
            gameInfo.className = 'game-info';
    
            const titleH2 = document.createElement('h2');
            titleH2.textContent = game.name;
            titleH2.className = 'game-title';
    
            const link = document.createElement('a');
            link.href = game.url;
            link.textContent = 'Go To Game Page';
            link.className = 'game-link';
            link.target = '_blank'; // Add this line
    
            gameInfo.appendChild(titleH2);
            gameInfo.appendChild(link);
    
            gameElement.appendChild(iconImg);
            gameElement.appendChild(gameInfo);
    
            return gameElement;
        }
    
        fetchGames(currentPage);
    </script>
</body>
</html>
